{% extends "ClgtThemeBundle:Base:base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Sign in & sign up <small>log into or create an account</small></h1>
            </div>
        </div>

        <div class="span6">
            <form class="form-horizontal" method="POST" action="{{ path('clgt_user_login') }}">
                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" placeholder="Username" name="_username"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" placeholder="Password" name="_password"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span6">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" placeholder="Username" name="_username"/>
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" placeholder="Enter your password" name="_password" type="password"/>
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" placeholder="Email" name="_email"/>
                    </div>
                </div>
                    
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
