<div class="hero-unit">
        <h1><a href="/themes" title="Themes and templates">Themes for Twitter Bootstrap</a></h1>
        <p class="hero-desc"><a href="http://twitter.github.com/bootstrap/" title="Twitter Bootstrap" target="_blank">Bootstrap</a> is an HTML5 &amp; CSS3 framework designed to help you kickstart the development of webapps and sites. WrapBootstrap is a marketplace for premium Bootstrap themes and templates. Impress your clients and visitors while using a single, rock-solid foundation.</p>
        <div class="wrapper">
                <p class="pull-left">
                        <a class="btn primary large" href="/themes" title="Themes and templates">View all the themes »</a>
                        
                        <span class="pitch">Or make them! <a href="/sell" title="Sell your designs">Sell your designs</a></span>
                </p> 
                <div class="share_buttons"><a class="facebook" href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwrapbootstrap.com%2F&amp;t=WrapBootstrap:%20Themes%20for%20Twitter%20Bootstrap','','scrollbars=yes,width=660,height=328'); return false;" title="Share this"></a><a class="twitter" href="#" onclick="window.open('https://twitter.com/intent/tweet?url=https%3A%2F%2Fwrapbootstrap.com%2F&amp;text=WrapBootstrap:%20Themes%20for%20Twitter%20Bootstrap','','scrollbars=yes,width=730,height=252'); return false;" title="Tweet this"></a><a class="google" href="#" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en&amp;url=https%3A%2F%2Fwrapbootstrap.com%2F','','scrollbars=yes,width=530,height=360'); return false;" title="Share this"></a></div>
        </div>
</div>