{% extends 'AcmeStoreBundle:Layout:index.html.twig' %}

{% form_theme form 'AcmeStoreBundle:Form:fields.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
            <h1>Sign in &amp; sign up  <small>log into or create an account</small></h1>
      	</div>

      	<div class="row">
      		<div class="span7">
      			<form class="form-horizontal" method="post" action="app_dev.php/check_login">
      				
      				{{ form_row(form.username) }}
      				{{ form_row(form.password) }}

	                <div class="form-actions">
				        <input type="submit" value="Signin" class="btn btn-primary" />
	                </div>

      			</form>

      		</div>
      		<div class="span5"></div>
      	</div>
	</div>

{% endblock %}