<!doctype html>
<html>
    <head></head>
    <body>
        <form action="{{ path('account_check_login') }}" method="POST">
            <input name="_username" type="text"/>
            <input name="_password" type="password"/>
            <input type="submit" name="login"/>
        </form>
    </body>
</html>
