
<!-- Navbar
====================================== -->
<div class="navbar navbar-static-top navbar-inverse" style="margin-bottom: 0px;">
    <div class="navbar-inner">
        <div class="container">
            
            <a class="brand" href="">
                Sf
            </a>
            <ul class="nav pull-left">
                <li>
                    <a href="">Themes</a>
                </li>
                <li>
                    <a href="">Start selling</a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <a href="{{ path('acme_store_user_signup') }}">
                        Register
                        <!-- <button class="btn btn-primary">Register</button> -->
                    </a>
                </li>
                <li>
                    <a href="{{ path('acme_store_user_singin') }}">
                        Login
                        <!-- <button class="btn btn-primary">Login</button> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>